* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    text-align: left;
}

.wrapper {
    background-color: hsl(216, 50%, 16%);
    border-radius: 3%;
    max-width: 20rem;
    min-height: 20rem;
    position: relative;
}

.img-box {
    position: relative;
    max-width: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 1rem;
    left: 1rem;
}
  
.img-box::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 255, 248, 0.4);
    width: 100%;
    height: 100%;
    opacity: 0; /* hide element */
    transition: opacity 0.5s ease;
}
  
  /* when .img-box is hovered set ::before and .img-eye element opacity to 1 */
.img-box:hover::before, .img-box:hover .img-eye {
    opacity: 1;
} 
  
.img {
    width: 100%;
    border-radius: 5%;
}
  
.img-eye {
    position: absolute;
    opacity: 0; /* hide element */
    transition: opacity 0.5s ease;
}


h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1.375rem;
    padding-left: 1.31rem;
    padding-top: 2rem;
}

h1:hover {
    color: hsl(178, 100%, 50%);
}

#main-text {
    font-size: 1rem;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    line-height: 1.5;
    padding-left: 1.31rem;
    padding-top: 1rem;
    padding-right: 1rem;
}

.informations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: .75rem;
}

.price p {
    color: hsl(178, 100%, 50%);
    font-weight: 400;
    font-size: .93rem;
    padding-left: 1.31rem;
}

.price img {
    padding-right: .5rem;
    margin-bottom: -.25rem;
}

.days p {
    color: hsl(215, 51%, 70%);
    font-weight: 400;
    font-size: .93rem;
    padding-right: 1.31rem;
}

.days img {
    padding-right: .5rem;
    margin-bottom: -.25rem;
}

.main-content::after {
    display: block;
    content: "";
    background-color: hsl(215, 32%, 27%);
    height: 1px;
    width: 17.38rem;
    margin: 1.31rem auto;
} 

.creator {
    display: flex;
    position: relative;
}

.creator-image {
    padding-left: 1.31rem;
    padding-bottom: 1rem;
    width: 20%;
}

.creator img {
    width: 70%;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

.creator-name {
    padding-top: .5rem;
}

.creator p {
    color: hsl(215, 51%, 70%);
}

.creator span {
    color:hsl(0, 0%, 100%);
}

.creator span:hover {
    color: hsl(178, 100%, 50%);
}
